<div id="image-uploader">
  <div>Hello</div>
  <h1><%= aws_bucket %></h1>
  
  
  <form method="post" enctype="multipart/form-data" class="direct-upload" id ="direct-upload-s3">
      <input type="hidden" id="key">
      <input type="hidden" id="AWSAccessKeyId"> 
      <input type="hidden" id="acl" value="public-read"> 
      <input type="hidden" id="policy">
      <input type="hidden" id="signature">
      <input type="hidden" id="success_action_status" value="201">
      <input type="hidden" id="Content-Type" value="image/jpeg">
      <input name="file" id="file" type="file">&nbsp;<input type="submit" />
    </form>
    <br>
    <input class="share-url" type="text" />

</div>
  