<div id="drop" class="panel">
  <div id="circle"></div>
  <div id="title">
    <h2 class="title">DropDot</h2>
  </div>
  <form method="post" enctype="multipart/form-data" class="direct-upload" id ="direct-upload-s3">
      <input type="hidden" name="key">
      <input type="hidden" name="AWSAccessKeyId" id = "aws_id"> 
      <input type="hidden" name="acl" value="public-read"> 
      <input type="hidden" name="policy">
      <input type="hidden" name="signature">
      <input type="hidden" name="success_action_status" value="201">
      <input type="hidden" name="Content-Type">
      <input class="file-input" name="file" type="file">
  </form>
</div>
  