.sell-parking-main-container {
  margin-top: -20px;
}

#sell-parking-dashboard-container {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}

#sell-parking-main-view-container {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}

#sell-parking-main-view-container > .row > div {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px) {
  #sell-parking-dashboard-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 280px;
  }

  #sell-parking-main-view-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 280px;
    width: calc(100% - 280px);
  }
}

#sell-parking-main-view-container > .row {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

#sell-parking-dashboard-title {
  width: 100%;
  text-align: left;
  padding: 0px 25px;
  font-size: 22px;
  font-weight: 600;
  line-height: 44px;
  height: 44px;
}
.dashboard-title-container {
  line-height: normal;
  vertical-align: middle;
}
#sell-parking-dashboard-title > i {
  color: #FFF;
  position: absolute;
  top: 12px; /* parent padding + ((container size - element size) / 2) == 20px + ((45 - 31) / 2) */
  bottom: 20px;
  right: 10px;
}
#sell-parking-dashboard-title > i:hover {
  color: #AAA;
}

.lot-page-main-image {
  height: 300px;
  width: 100%;
  z-index: -2;
  position: relative;
  background-image:url('theedge2.png');
  background-color: rgba(50,25,25,.45);


  margin-top: -1px;
  margin-right: -2px;
  margin-left: -1px;

}

#lot-list-container {
  height: 100%;
  background-color: rgb(122, 86, 173);
  padding: 0px;
  bottom: 0px;
  z-index: 1;
}

.lot-list {
  height: 100%;
  position: fixed;
  width: 280px;
}

#spot-list-container > table > thead > tr > th {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.4);
  color: white !important;
  font-size: 18px !important;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#lot-list-container > .row, #spot-list-container > .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.lot-view > div.page-header {
  margin-top: 0px;
}

.lot-view > div.page-header > h1 {
  margin-top: 0px;
}

/* add lot modal stuff */

#new-lot-modal > div > div, #new-spot-modal > div > div  {
  padding-right: 25px;
  padding-left: 25px;
}

.new-lot-modal-title, .new-spot-modal-title {
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#new-lot-modal > div > div > div.modal-body > div.row > div > div.row, #new-spot-modal > div > div > div.modal-body > div.row > div > div.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.new-lot-main-input, .new-spot-main-input {
  height: 40px;
}

#new-lot-modal > div.modal-content > div.modal-header, #new-spot-modal > div.modal-content > div.modal-header {
  border: none;
}

#new-lot-modal > div.modal-content > div.modal-body, #new-spot-modal > div.modal-content > div.modal-body {
  padding-bottom: 20px;
}

#new-lot-modal > div.modal-content > div.modal-footer, #new-spot-modal > div.modal-content > div.modal-footer {
  border: none;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.lot-list-title, .spot-list-title, .lot-location-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  text-align: center;
}

.lot-list-item, .spot-list-item {
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  cursor: default;
}

.lot-list-item {
  height: 60px;
  background-color: rgb(122, 86, 173);
  border-bottom: 2px dashed rgba(255, 255, 255, 0.4);
  border-top: 2px dashed rgba(255, 255, 255, 0.4);
  border-left: 0;
  border-right: 0;
  color: white !important;
}

.lot-list-item > span {
  text-align: left;
  vertical-align: middle;
}

.lot-list-item.active {
  background-color: rgb(188, 172, 214) !important;
  border-color: rgb(188, 172, 214) !important;
  /*border-bottom: 0;
  border-top: 0 !important;*/
}

.lot-view-empty-main-text {
  font-size: 28px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.lot-location-container {
  margin-bottom: 15px;
  padding: 15px;
}

.lot-page-title {
  margin-left: 30px;
  margin-top: -60px;
  position: relative;
  z-index: 0;
  font-size: 48px;
  color: white;
  text-shadow: 0px 0px 15px #000;
}

.lot-view-lower-container {
  background-color: rgb(65, 65, 65);
  box-shadow: 0px 0px 32px 20px rgb(65, 65, 65);
  bottom: 0px;
  padding-bottom: 30%;
}

#spot-list-add-spot-button {
  color: #00CD00;
  cursor: default;
}

#spot-list-add-spot-button:hover {
  color: #00EE00;
}

.spot-list-view-table-body {
  color: white !important;
}

.new-spot-save-button {
  margin-top: 10px;
}

.spot-description-text{
  color: white;
}
.spot-list-item-view {
  text-align: left;
}

.spot-list-item-view:hover {
  background-color: black;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: grey;
}
#edit-spot-options {
  width: 190%;
  color:white;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-top: 10px;
}
#edit-spot-input {
  margin-bottom: 50px;
}
#edit-spot-buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}
/*
img > .lot-page-main-image{
 margin-top: -1px;
 margin-right: -2px;
 margin-left: -1px;
}
*/

/*need to chage the width if we are bringing up the edit spot view for the first time
*/
#create-first-spot {
 width: 145%;
  color:white;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-top: 10px;
}

