extends ../layout

block css
  link(rel='stylesheet', href='/styles/user-dashboard/user-dashboard-main-page.css')

block js
  script(type='text/javascript', src='/js/sell/user-dashboard-main-page.js')

block content
  h1 user-dashboard-main-page
