.filter-form-input{
}

.lot-list .lot {
  padding: 4px;
  margin: 8px 0;
}

.lot-list .lot:nth-child(even) {
  background-color: #eee;
}

.lot-list .lot a.title {
  color: inherit;
  font-size: 1.5em;
}

.lot-list .lot a.title:hover {
  text-decoration: none;
  color: #428bca;
}

/* form styling */

#new-form-modal textarea {
  height: 100px;
}

/* text style */
.light-text {
  color: #FFF !important;
}
.dark-text {
  color: #000 !important;
}

/* text input styling */

/* modern-input (used in get started page) */
.modern-input {
  background-color: rgba(255, 255, 255, 0.68);
  color: #000 !important;
}
button.modern-input > i {
  font-size: 28px;
  vertical-align: middle;
}
button.modern-input {
  margin-left: 0px !important;
  border: none;
  box-shadow: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}
div .modern-input-group:hover > input, div .modern-input-group:hover > span > button  {
  background-color: rgba(255, 255, 255, 0.8);
}
input.modern-input:focus, button.modern-input:focus, button.modern-input:active {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.68);
  color: #000;
}
input.modern-input:hover, button.modern-input:hover {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
}
input.modern-input {
  padding-left: 18px !important;
  font-weight: 100 !important;
  letter-spacing: 1.5px;
  border: none;
  box-shadow: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}
.modern-input::-webkit-input-placeholder { /* WebKit browsers */
  color: #000 !important;
  font-weight: 100 !important;
  letter-spacing: 1.5px;
}
.modern-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #000 !important;
}
.modern-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #000 !important;
}
.modern-input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #000 !important;
}


/* moder-input-inverse (used in landing page) */
.modern-input-inverse {
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFF;
}
button.modern-input-inverse > i {
  font-size: 28px;
  vertical-align: middle;
}
button.modern-input-inverse {
  margin-left: 0px !important;
  border: none;
  box-shadow: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}
div .modern-input-inverse-group:hover > input, div .modern-input-inverse-group:hover > span > button  {
  background-color: rgba(255, 255, 255, 0.38);
}
input.modern-input-inverse:focus, button.modern-input-inverse:focus, button.modern-input-inverse:active {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFF;
}
input.modern-input-inverse:hover, button.modern-input-inverse:hover {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.38);
  color: #FFF;
}
input.modern-input-inverse {
  padding-left: 18px !important;
  font-weight: 100 !important;
  letter-spacing: 1.5px;
  border: none;
  box-shadow: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}
.modern-input-inverse::-webkit-input-placeholder { /* WebKit browsers */
  color: #EEE !important;
  font-weight: 10 !important;
  letter-spacing: 1.5px;
}
.modern-input-inverse:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #EEE !important;
}
.modern-input-inverse::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #EEE !important;
}
.modern-input-inverse:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #EEE !important;
}

/* miscellaneous styling */
.no-side-padding {
  padding-right: 0px;
  padding-left: 0px;
}
.no-side-margins {
  margin-right: 0px;
  margin-left: 0px;
}

.vertical-align-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

