.landing-page-banner {
  margin-top: 10px;
  margin-bottom: 10px;
}
.filter-bar{
  background-color: rgba(26,26,26,.9);
  border-radius: 10px;
}
.filter-form-input{
}

.landing-page-header {
  color: #F3F7F2;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #42BA32;
  background-image: -webkit-linear-gradient(top,#3DAB2E 0,#42BA32 100%);
  background-image: linear-gradient(to bottom,#3DAB2E 0,#42BA32 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3DAB2E', endColorstr='#42BA32', GradientType=0);
}

.landing-page-thumbnail-text {
  height: 300px;
  display: table-cell;
  vertical-align: middle;
}


.lot-list .lot {
  padding: 4px;
  margin: 8px 0;
}

.lot-list .lot:nth-child(even) {
  background-color: #eee;
}

.lot-list .lot a.title {
  color: inherit;
  font-size: 1.5em;
}

.lot-list .lot a.title:hover {
  text-decoration: none;
  color: #428bca;
}

/* form styling */

#new-form-modal textarea {
  height: 100px;
}
