@font-face{
  font-family: vitesse-sans-light;
  src: url('../fonts/VitesseSans-Light.otf');
}
.landing-page-banner {
  margin-top: 10px;
  margin-bottom: 10px;
}
.landing-page-header {
  color: #F3F7F2;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #42BA32;
  background-image: -webkit-linear-gradient(top,#3DAB2E 0,#42BA32 100%);
  background-image: linear-gradient(to bottom,#3DAB2E 0,#42BA32 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3DAB2E', endColorstr='#42BA32', GradientType=0);
}
.landing-page-thumbnail-text {
  height: 300px;
  display: table-cell;
  vertical-align: middle;
}
.landing-body-div {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('../images/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
#landing-page-title {
  font-family: vitesse-sans-light; /*TODO bodoni*/
}
#landing-page-main-block {
  margin-right: -30px;
  background-color: rgba(80, 46, 144, 0.5);
}
#landing-page-main-input {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: vitesse-sans-light;
}



