/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

.navbar{
	background-color: #45ba96;
	padding-top: 1px;
	padding-bottom: 1px
}

.navbar .nav > li > a{
	color: #ffffff;
	text-shadow: none;
}
.navbar-header > a{
	color: #8d8d8d;
	text-shadow: none;	
}

