@font-face
{
font-family: navbarFont;
src: local("Lucida Console");
}

.soba-navbar-container {
  background-color: #000;
}

.navbar{
  z-index: 1;
  background-color: rgba(80, 46, 144, 0.5);
  height: 90px;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.navbar .nav > li {
  width: 150px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-family: vitesse-sans-light;
}

.navbar .nav > li > a {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #ffffff;
  text-shadow: none;
  cursor: default;
}

.navbar .nav > li:hover {
  background-color: rgba(109, 188, 128, 0.65);
  color: #ffffff;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:active, .navbar .nav > li > a:focus, .navbar .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: rgba(255, 255, 255, 0.0);
}

.navbar-header, .navbar-brand {
  width: 180px;
  height: 90px;
}

.navbar-brand {
  text-align: center;
	color: #ffffff;
	text-shadow: none;
}

.soba-navbar-search-input, .soba-navbar-search-input > div {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 90px;
}

.soba-navbar-search-input > div > input {
  vertical-align: middle;
}

.navbar-dropdown, .navbar-dropdown > li {
  background-color: rgba(80, 46, 144, 0.5);
  margin: 0px;
  padding: 0px;
  border: none;
}

.navbar-dropdown {
  background-color: rgba(255, 255, 255, 0.0);
}

.navbar-dropdown > li {
  height: 40px;
  line-height: 40px;
}

.navbar-dropdown > li > a {
  color: #FFF;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.navbar-dropdown > li:hover, .navbar-dropdown > li:focus, .navbar-dropdown > li:active {
  background-color: rgba(109, 188, 128, 0.65);
}

.navbar-dropdown > li > a:hover, .navbar-dropdown > li > a:focus, .navbar-dropdown > li > a:active {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.0);
  color: #FFF;
}






.navbar-brand {
  margin-left: 15px;
}

.navbar-brand:hover {
  cursor: default;
  background-color: rgb(109, 188, 128);
}

@media (min-width: 768px) {

  .navbar-header, .navbar-brand, #nav-home {
    width: 180px;
    height: 90px;
    cursor: default;
  }

  .navbar-brand {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px !important;
    margin-right: 0px;
    font-size: 28px;
    margin-top: 18px;
    text-align: center;
    color: #ffffff;
    text-shadow: none;
  }

  .navbar .nav > li {
    width: 150px;
    height: 90px;
    line-height: 90px;
  }

  .user-nav-item, .user-nav-item > li {
    width: 180px !important;
  }
  .user-nav-item > li > ul {
    width: 190px;
  }

  .navbar {
    height: 90px;
  }

  .navbar-header:hover {
    background-color: rgb(109, 188, 128);
  }

  .navbar-brand:hover {
    background-color: inherit;
  }

}

.navbar > .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar {
  z-index: 1;
  background-color: rgb(80, 46, 144);
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.navbar .nav > li {
  text-align: center;
  font-family: vitesse-sans-light;
}

.navbar .nav > li > a {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 1.25em;
  color: #ffffff;
  text-shadow: none;
  cursor: default;
}

.navbar .nav > li:hover {
  background-color: rgb(109, 188, 128);
  color: #ffffff;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:active, .navbar .nav > li > a:focus, .navbar .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: rgba(255, 255, 255, 0.0);
}

.navbar-dropdown, .navbar-dropdown > li {
  background-color: rgb(80, 46, 144);
  margin: 0px;
  padding: 0px;
  border: none;
}

.navbar-dropdown {
  background-color: rgba(255, 255, 255, 0.0);
}

.navbar-dropdown > li {
  height: 40px;
  line-height: 40px;
}

.navbar-dropdown > li > a {
  color: #FFF;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.navbar-dropdown > li:hover, .navbar-dropdown > li:focus, .navbar-dropdown > li:active {
  background-color: rgb(109, 188, 128);
}

.navbar-dropdown > li > a:hover, .navbar-dropdown > li > a:focus, .navbar-dropdown > li > a:active {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.0);
  color: #FFF;
}


/* the filter bar on the feedback page */
#filter-bar{
  background-color: rgba(26,26,26,.9);
  border-radius: 10px;
}






