/*
	css for the reviews
*/

#goodAverage{
	background-color: rgba(216,238,207,1);
}
#okAverage{
	background-color: rgba(251,247,220,1);
}
#badAverage{
	background-color: rgba(238,214,214,1);
}
#review-body{
	z-index: 0;
}
#submit-button{
	background-color: rgba(36,36,36,0);
	border-color: rgba(255,255,255,0)
}
#submit-button > #magnifying-glass{
	color: white;
}
#feedback-page-container {
	margin-top: 70px;
}