<div id="new-lot-modal" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close new-lot-modal-close-button" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Add New Lot</h4>
    </div>

    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <label for="input-title" class="sr-only">Title</label>
          <input type="text" class="form-control modern-input new-lot-main-input" name="input-title" placeholder="title" autofocus="autofocus" required=true>
        </div>
        <div class="form-group">
          <label for="input-address" class="sr-only">Street</label>
          <input type="text" class="form-control modern-input new-lot-main-input" name="input-address" placeholder="address">
        </div>
        <div class="form-group">
          <label for="input-city" class="sr-only">City</label>
          <input type="text" class="form-control modern-input new-lot-main-input" name="input-city" placeholder="city">
        </div>
        <div class="form-group">
          <label for="input-state" class="sr-only">State</label>
          <input type="text" class="form-control modern-input new-lot-main-input" name="input-state" placeholder="state">
        </div>
        <div class="form-group">
          <label for="input-zip" class="sr-only">Zip Code</label>
          <input type="text" class="form-control modern-input new-lot-main-input" name="input-zip" placeholder="zip code">
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary modern-input-inverse new-lot-save-button new-lot-main-input" id="new-lot-save-button">Create Lot</button>
    </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->