<div class="page-header">
  <h1 class="light-text"><%= title %></h1>
</div>
<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title lot-address-panel-title">Lot Location</h3>
      </div>
      <div class="panel-body lot-address-panel-body">
        <%= address.street %><br>
        <%= address.city %>, <%= address.state %> <%= address.zip %>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <button id="lot-view-add-spot-button" type="button" class="btn btn-success btn-block modern-input-inverse spot-add-button"><i class="fa fa-plus"></i> Add Spot</button>
    <button id="lot-view-delete-lot-button" type="button" class="btn btn-success btn-block modern-input-inverse lot-delete-button"><i class="fa fa-times"></i> Delete Lot</button>
  </div>
</div>

