<div class="page-header unselectable cursor-default">
  <h1 class="light-text"><%= title %></h1>
</div>

<!-- <div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class='lot-location-container'>
      <div class="row">
        <div class="col-xs-12">
          <h1 class="lot-location-title light-text unselectable cursor-default">Location</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 lot-location-address light-text">
          <%= address.street %><br>
          <%= address.city %>, <%= address.state %> <%= address.zip %>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row unselectable cursor-default">
  <div class="col-sm-10 col-sm-offset-1">
    <div id="spot-view-div"></div>
  </div>
</div>

