<div id="navbar"></div>
<div class="user-settings-div unselectable cursor-default">
  <div class="container">
    <div class="page-header">
      <h1 class="user-settings-page-title">User Settings</h1>
    </div>
    <div class="col-md-5 col-md-offset-1 col-sm-6">
        <div class="panel panel-default user-settings-input-panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-type" class="sr-only">Type</label>
                <select id="input-card-type">
                  <option value="visa">Visa</option>
                  <option value="mastercard">Mastercard</option>
                  <option value="american-express">American Express</option>
                  <option value="discover">Discover</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-number" class="sr-only">Card Number</label>
                <input type="password" class="form-control modern-input-inverse" id="input-card-number" placeholder="Card number">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-expire-month" class="sr-only">Expiration Month</label>
                <input type="text" class="form-control modern-input-inverse" id="input-card-expire-month" placeholder="Expiration Month">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-expire-year" class="sr-only">Expiration Year</label>
                <input type="text" class="form-control modern-input-inverse" id="input-card-expire-month" placeholder="Expiration Year">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-cvv2" class="sr-only">cvv2</label>
                <input type="text" class="form-control modern-input-inverse" id="input-card-cvv2" placeholder="cvv2">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-first-name" class="sr-only">First Name</label>
                <input type="text" class="form-control modern-input-inverse" id="input-card-first-name" placeholder="First Name">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-last-name" class="sr-only">Last Name</label>
                <input type="text" class="form-control modern-input-inverse" id="input-card-last-name" placeholder="Last Name">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-address" class="sr-only">Address</label>
                <input type="text" class="form-control modern-input-inverse" id="input-card-address" placeholder="Address">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-city" class="sr-only">City</label>
                <input type="text" class="form-control modern-input-inverse" id="input-card-city" placeholder="City">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-state" class="sr-only">State</label>
                <input type="text" class="form-control modern-input-inverse" id="input-card-state" placeholder="State">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-zip-code" class="sr-only">Zip Code</label>
                <input type="text" class="form-control modern-input-inverse" id="input-card-zip-code" placeholder="Zip Code">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-card-country" class="sr-only">Country</label>
                <input type="text" class="form-control modern-input-inverse" id="input-card-country" placeholder="Country">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-lg-offset-5 col-md-9 col-md-offset-3">
                <button id="change-credit-card" type="button" class="btn btn-primary btn-block modern-input-inverse user-settings-main-input">Add Credit Card</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>