extends ../layout

block css
  link(rel='stylesheet', href='/styles/buy/buy-main-page.css')

block js
  script(type='text/javascript', src='/js/buy/buy-main-page.js')

block content
  h1 buy-main-page
