extends ../layout

block css
  link(rel='stylesheet', href='/styles/sell/sell-main-page
    .css')
block js
  script(type='text/javascript', src='/js/sell/sell-main-page.js')

block content
  h1 sell-main-page
