extends ../layout

block css
  link(rel='stylesheet', href='/public/css/styles/home/index.css')

block js
  script(type='text/javascript', src='/js/index.js')

block content
  h1 I'm using generator-express MVC!
  h2 Yoo hoo
  p Helloo
