<div class="user-profile-container">
  <div class = "row">
    <div class = "col-md-4">
      <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail"><span class="text-muted">@username</span>  
    </div>
    <div class = "col-md-8">
      <h2>My Account</h2>
      <hr>
      <form role = "form">
        <div class = "form-group">
          <label for="edit-first-name">First Name</label>
          <br>
          <input type="text" class="form-control" id="edit-first-name" placeholder="<%=firstName%>">
        </div>
        <div class = "form-group">
          <label for="edit-last-name">Last Name</label>
          <br>
          <input type="text" class="form-control" id="edit-last-name" placeholder="<%=lastName%>">
        </div>
        <div class = "form-group">
          <label for="edit-date-of-birth">Date of Birth</label>
          <br>
          <input type="date" class="form-control" id="edit-date-of-birth" placeholder="<%=dateOfBirth%>">
          </div>
          <div class = "form-group">
          <label for="edit-address">Address</label>      
          <br>
          <input type="text" class="form-control" id="edit-address" placeholder="<%=address%>">
        </div>
        <div class = "form-group">
          <label for="edit-city">City</label>
          <br>
          <input type="text" class="form-control" id="edit-city" placeholder="<%=city%>">
        </div>
        <div class = "form-group">
          <label for="edit-state">State</label>
          <br>
          <input type="text" class="form-control" id="edit-state" placeholder="<%=state%>">
        </div>
        <div class = "form-group">
          <label for="edit-zipcode">Zipcode</label>
          <br>
          <input type="text" class="form-control" id="edit-zipcode" placeholder="<%=zipcode%>">
        </div>
        <div class = "form-group">
          <label for="edit-phone">Phone number</label>
          <br>
          <input type="tel" class="form-control" id="edit-phone" placeholder="<%=phoneNumber%>">
        </div>
        <div class = "form-group">
          <label for="edit-email">Email</label>
          <br>
          <input type="email" class="form-control" id="edit-email" placeholder="<%=email%>">
        </div>
      </form>
      <p><input id="update-account-button" class="btn btn-primary" type="submit" value="Update Profile"></p>
    </div>
  </div>
</div>