// global variable
$container-width: 1020px
$primary-color: rgb(12, 12, 132)
$secondary-color: rgb(38, 140, 10)
$primary-text-color: white
$secondary-text-color: $secondary-color

// functions

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

@import global/navbar
@import global/footer
@import global/testimonial
@import global/day-checkboxes

body
  margin: 0

// centers the page
.pa-container
  width: $container-width
  padding: 0 10px
  margin: auto

// gives the main content of pages proper margins
.content-wrapper
  margin-top: 40px






