<nav class="navbar-fixed-top navbar-inverse main-navbar unselectable" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header main-navbar-header">
      <button type="button" class="navbar-toggle main-navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="nav-home">
        <img src="/images/logo-white.png" id="main-navbar-logo">
        </img>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav main-navbar navbar-nav">
        <li id="nav-buy-parking"><a href="#">Find Parking</a></li>
        <li id="nav-sell-parking"><a href="#">Sell Parking</a></li>
        <li id="nav-feedback"><a href="#">Feedback</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
