.navbar-box
  .pa-container
    .btn-left
      a(href="/") Home
        span.filler
    .btn-right
      |User&nbsp
      i.fa.fa-caret-down
    .btn-right
      a(href="/sellparking") Sell Parking
        span.filler
    .btn-right
      a(href="/buyparking") Buy Parking
        span.filler

