<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Parkley</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="find-parking">find parking</a></li>
        <li ><a href="sell-parking">sell parking</a></li>
      </ul>
      <form class="navbar-form navbar-left soba-navbar-search-input" role="search">
        <div class="form-group">
          <input type="text" class="form-control modern-input-inverse" placeholder="search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">user profile <b class="caret"></b></a>
          <ul class="dropdown-menu navbar-dropdown">
            <li><a href="settings">my account</a></li>
            <li><a href="parking-history">parking history</a></li>
            <li><a href="review">parking review</a></li>
          </ul>
        </li>
        <li><a href="help">help</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
