<ul class="nav navbar-nav navbar-right user-nav-item">
  <li class="dropdown navbar-dropdown-li">
    <a href="#" class="dropdown-toggle"><%= firstName %> <b class="caret"></b></a>
    <ul class="dropdown-menu navbar-dropdown main-navbar-dropdown">
      <li id="nav-user-transactions"><a href="#">My Transactions</a></li>
      <li id="nav-user-reviews"><a href="#">My Reviews</a></li>
      <li id="nav-user-settings"><a href="#">Settings</a></li>
      <li id="nav-user-logout"><a href="#">Logout</a></li>
    </ul>
  </li>
</ul>
