<ul class="nav navbar-nav navbar-right user-nav-item">
  <li class="dropdown navbar-dropdown-li">
    <a href="#" class="dropdown-toggle"><%= firstName + ' ' + lastName %> <b class="caret"></b></a>
    <ul class="dropdown-menu navbar-dropdown">
      <li id="nav-user-home"><a href="#">home</a></li>
      <li id="nav-user-transactions"><a href="#">transactions</a></li>
      <li id="nav-user-reviews"><a href="#">reviews</a></li>
      <li id="nav-user-settings"><a href="#">settings</a></li>
    </ul>
  </li>
</ul>
