doctype 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='stylesheet', href='/styles/global.css')
    script(src='http://localhost:35729/livereload.js')
    block css
    block js
  
  body
    include global/navbar
    block content
