<div id="navbar"></div>
<div class="user-settings-div unselectable cursor-default">
  <div class="container">
    <div class="page-header">
      <h1 class="user-settings-page-title">User Settings</h1>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1 col-sm-6">
        <div class="panel panel-default user-settings-input-panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="edit-first-name" class="sr-only">First Name</label>
                <input type="text" class="form-control modern-input-inverse" id="edit-first-name" value=<%= firstName %> placeholder="first name">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="edit-last-name" class="sr-only">Last Name</label>
                <input type="text" class="form-control modern-input-inverse" id="edit-last-name" value=<%= lastName %> placeholder="last name">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="edit-date-of-birth" class="sr-only">Date of Birth</label>
                <input type="date" class="form-control modern-input-inverse" id="edit-date-of-birth" value=<%= birthdate %>>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="edit-phone" class="sr-only">Phone number</label>
                <input type="tel" class="form-control modern-input-inverse" id="edit-phone" value=<%= phone %> placeholder="phone">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="edit-email" class="sr-only">Email</label>
                <input type="email" class="form-control modern-input-inverse" id="edit-email" value=<%= email %> placeholder="email">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-lg-offset-5 col-md-9 col-md-offset-3">
                <button id="update-account-button" type="button" class="btn btn-primary btn-block modern-input-inverse user-settings-main-input">Update Information</button>
              </div>
            </div>
          </div>
        </div>
      </div><div class="col-md-5 col-md-offset-1 col-sm-6">
        <div class="panel panel-default user-settings-input-panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-old-password" class="sr-only">Current Password (optional)</label>
                <input type="password" class="form-control modern-input-inverse" id="input-old-password" placeholder="current password">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="input-new-password" class="sr-only">New Password (optional)</label>
                <input type="password" class="form-control modern-input-inverse" id="input-new-password" placeholder="new password">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <label for="confirm-new-password" class="sr-only">Confirm New Password (optional)</label>
                <input type="password" class="form-control modern-input-inverse" id="confirm-new-password" placeholder="confirm new password">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 col-lg-offset-5 col-md-9 col-md-offset-3">
                <button id="change-password-button" type="button" class="btn btn-primary btn-block modern-input-inverse user-settings-main-input">Change Password</button>
              </div>
            </div>
          </div>
          <!-- panel for add credit card information-->
          <hr>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-7 col-lg-offset-5 col-md-9 col-md-offset-3">
                <br>
                <button id="change-credit-card" type="button" class="btn btn-primary btn-block modern-input-inverse user-settings-main-input">Add Credit/Debit Card </button>
              </div>
            </div>
          </div>
          <!-- end of panel add credit card information-->
        </div>
        </div>
      </div>
    </div>
  </div>
</div>