<div id = "navbar">
</div>
<div class="user-profile-container">
  <div class = "row">
    <div class = "col-md-4">
      <img src="http://wallpaper.pickywallpapers.com/1920x1080/splashy-abstract.jpg" alt="Responsive image"class="img-rounded" height = 200; width = 200>
      <br>
      <span class="text-muted">@username</span>  
    </div>
    <div class = "col-md-8">
      <h2>My Account</h2>
      <hr>
      <form role = "form">
        <div class = "form-group">
          <label for="edit-first-name">First Name</label>
          <br>
          <input type="text" class="form-control" id="edit-first-name" value=<%= name.split(' ')[0] %>>
        </div>
        <div class = "form-group">
          <label for="edit-last-name">Last Name</label>
          <br>
          <input type="text" class="form-control" id="edit-last-name" value=<%= name.split(' ')[1] %>>
        </div>
        <div class = "form-group">
          <label for="edit-date-of-birth">Date of Birth</label>
          <br>
          <input type="date" class="form-control" id="edit-date-of-birth" value=<%= birthdate %>>
        </div>
        <div class = "form-group">
          <label for="edit-phone">Phone number</label>
          <br>
          <input type="tel" class="form-control" id="edit-phone" value=<%= phone %>>
        </div>
        <div class = "form-group">
          <label for="edit-email">Email</label>
          <br>
          <input type="email" class="form-control" id="edit-email" value=<%= email %>>
        </div>
        <div class = "form-group">
          <label for="input-old-password">Current Password</label>
          <br>
          <input type="password" class="form-control" id="input-old-password" placeholder="Enter current password">
        </div>
        <div class = "form-group">
          <label for="input-new-password">New Password</label>
          <br>
          <input type="password" class="form-control" id="input-new-password" placeholder="Enter new password">
        </div>
        <div class = "form-group">
          <label for="confirm-new-password">Confirm New Password</label>
          <br>
          <input type="password" class="form-control" id="confirm-new-password" placeholder="Confirm new password">
        </div>
        <button id="update-account-button" type="button" class="btn btn-primary">Update Profile</button>
      </form>
      &nbsp
    </div>
  </div>
</div>