<div id="navbar"></div>
<div class="get-started-div">
  <div class="container">
    <h1 class="light-text get-started-page-title">Get Started with Parkly</h1>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="panel panel-default get-started-content-panel get-started-input-panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-7 col-md-offset-0 col-md-10 col-md-offset-1">
                <input type="text" class="form-control modern-input get-started-main-input" id="input-first-name" placeholder="first name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 col-md-offset-0 col-md-10 col-md-offset-1">
                <input type="text" class="form-control modern-input get-started-main-input" id="input-last-name" placeholder="last name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 col-md-offset-0 col-md-10 col-md-offset-1">
                <input type="date" class="form-control modern-input get-started-main-input" id="input-date-of-birth" placeholder="mm/dd/yyyy">
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 col-md-offset-0 col-md-10 col-md-offset-1">
                <input type="tel" class="form-control modern-input get-started-main-input" id="input-phone" placeholder="phone number">
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 col-md-offset-0 col-md-10 col-md-offset-1">
                <input type="email" class="form-control modern-input get-started-main-input" id="input-email" placeholder="Enter email" value=<%= email %>>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 col-md-offset-0 col-md-10 col-md-offset-1">
                <input type="password" class="form-control modern-input get-started-main-input" id="input-password" placeholder="password">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-6">
                <button id="sign-up-button" class="btn btn-success btn-block modern-input-inverse get-started-main-input">sign up</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="panel panel-default get-started-content-panel get-started-info-panel">
          <div class="panel-body">
              <p class="landing-page-thumbnail-text gray-text"><i class="fa fa-quote-left fa-3x" style="color: gray;"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper ultrices ipsum, a tempor velit. Nulla in arcu semper nunc aliquam bibendum. Pellentesque feugiat id nunc at pretium. Vivamus vel nibh accumsan, varius sem quis, iaculis metus. Nullam ullamcorper arcu sem, ullamcorper auctor velit pharetra at. Quisque cursus nisi a pretium faucibus. Donec vel laoreet ligula, ac luctus ante. Fusce vehicula nulla eget arcu posuere congue. Nullam consectetur sem arcu, in varius eros pulvinar a.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>