<div id="navbar"></div>
<div class="get-started-div">
  <div class="container">
    <div class="signup-content row">
      <div class="col-md-5">
        <div class="signup">
          <input autofocus type="text" class="input-field" id="input-full-name" placeholder="Full Name">
          <input type="email" class="input-field" id="input-email" placeholder="Email Address" value=<%= email %>>
          <input type="password" class="input-field"  id="input-password" placeholder="Password">
          <button class="btn-purple input-submit" id="sign-up-button" >Sign up</button>
        </div>
      </div>

      <div class="col-md-7">
        <div class='info-box'>
          <h1 class='info-box-title'>Park AVE</h1>
          <p class='info-box-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>