<div class="landing-page-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <button id="login-button" type="button" class="btn btn-default">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron landing-page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-6 col-xs-offset-3">
        <h1 id="wow-text" class="text-center">Parkly <i class="fa fa-thumbs-up"></i></h1>
        <div class="text-center">
          <form id="get-started-form" class="form-inline" role="form">
            <div class="form-group">
              <input id="get-started-email-input" type="email" class="form-control input-lg" placeholder="Enter your email">
              <button id="get-started-button" type="button" class="btn btn-default btn-lg">Get Started <i class="fa fa-arrow-right"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div id="desc-text-box-1">
        <div class="row">
          <div class="col-sm-4">
            <img src="http://wallpaper.pickywallpapers.com/1600x900/splashy-abstract.jpg" class="img-circle" width="300" height="300">
          </div>
          <div class="col-sm-8">
            <p class="landing-page-thumbnail-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper ultrices ipsum, a tempor velit. Nulla in arcu semper nunc aliquam bibendum. Pellentesque feugiat id nunc at pretium. Vivamus vel nibh accumsan, varius sem quis, iaculis metus. Nullam ullamcorper arcu sem, ullamcorper auctor velit pharetra at. Quisque cursus nisi a pretium faucibus. Donec vel laoreet ligula, ac luctus ante. Fusce vehicula nulla eget arcu posuere congue. Nullam consectetur sem arcu, in varius eros pulvinar a.</p>
          </div>
        </div>
      </div>
      <div id="desc-text-box-2">
        <div class="row">
          <div class="col-sm-4 col-sm-push-8">
            <img src="http://wallpaper.pickywallpapers.com/1600x900/splashy-abstract.jpg" class="img-circle" width="300" height="300">
          </div>
          <div class="col-sm-8 col-sm-pull-4">
            <p class="landing-page-thumbnail-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper ultrices ipsum, a tempor velit. Nulla in arcu semper nunc aliquam bibendum. Pellentesque feugiat id nunc at pretium. Vivamus vel nibh accumsan, varius sem quis, iaculis metus. Nullam ullamcorper arcu sem, ullamcorper auctor velit pharetra at. Quisque cursus nisi a pretium faucibus. Donec vel laoreet ligula, ac luctus ante. Fusce vehicula nulla eget arcu posuere congue. Nullam consectetur sem arcu, in varius eros pulvinar a.</p>
          </div>
        </div>
      </div>
      <div id="desc-text-box-3">
        <div class="row">
          <div class="col-sm-4">
            <img src="http://wallpaper.pickywallpapers.com/1600x900/splashy-abstract.jpg" class="img-circle" width="300" height="300">
          </div>
          <div class="col-sm-8">
            <p class="landing-page-thumbnail-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ullamcorper ultrices ipsum, a tempor velit. Nulla in arcu semper nunc aliquam bibendum. Pellentesque feugiat id nunc at pretium. Vivamus vel nibh accumsan, varius sem quis, iaculis metus. Nullam ullamcorper arcu sem, ullamcorper auctor velit pharetra at. Quisque cursus nisi a pretium faucibus. Donec vel laoreet ligula, ac luctus ante. Fusce vehicula nulla eget arcu posuere congue. Nullam consectetur sem arcu, in varius eros pulvinar a.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


