<div class="landing-main-div unselectable cursor-default" data-stellar-background-ratio="0.2">
  <div class="landing-title-container" data-stellar-ratio="0.72">
    <h1 class="landing-title">PARK AVE.</h1>
  </div>
  <div class="landing-main-buttons-container" data-stellar-ratio="0.72">
    <button type="button" class="btn-pink" href="#" id="landing-get-started-button">Sign up</button>
  </div>
  <div class="landing-main-login-container" data-stellar-ratio="0.72">
    <a href="#" href="#" id="landing-login-button">Already a member? Login</a>
  </div>
</div>
<div class="landing-content-div">
</div>

