<!-- <div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="close login-modal-close-button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="row">
              <div class="col-md-7 col-md-offset-0 col-md-10 col-md-offset-1">
                <input type="email" class="form-control modern-input-inverse login-main-input" id="input-login-email" value=<%= email %> placeholder="Email">
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 col-md-offset-0 col-md-10 col-md-offset-1">
                <input type="password" class="form-control modern-input-inverse login-main-input" id="input-login-password" placeholder="Password">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-6">
                <button id="input-login-button" type="button" class="btn btn-primary btn-block modern-input-inverse login-main-input">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



    <div id="login">
        
        <form action="javascript:void(0);" method="get">
            
            <fieldset class="clearfix">
                
                <p><span class="fontawesome-user"></span><input type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p><span class="fontawesome-lock"></span><input type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                <p><input type="submit" value="Sign In"></p>

            </fieldset>

        </form>
        
        <p>Not a member? <a href="#">Sign up now</a><span class="fontawesome-arrow-right"></span></p>

    </div> <!-- end login -->