<div class="login-div">
	<div class="container row">
	<div class="col-md-5 col-md-offset-4" >    
			<div class="singin-logo">
				<img src="images/logo-white1.png" alt="logo">
			</div>
	</div>
		<div class="col-md-4 col-md-offset-6" >    

			<div class="login-holder">
			<div class='login'>
		    <form class='login-form'>
	            <p>
	            	<span class="fa fa-user"></span>
	            	<input class="login-input" autofocus id="input-login-email" type="text" placeholder="Username" value="ccew@ou.edu" required>
	            </p>
	            <p> <span class="fa fa-lock"></span>
	            	<input class="login-input" id="input-login-password" type="password"  placeholder="Password" value="soba" required>
	            </p>
	            <p><input class="login-input btn-green" type="submit" value="Sign In" id="input-login-button"></p>
		    </form>
		    <p>Not a member? <a  href='getstarted' id="not-a-member">Sign up now</a><span class="fontawesome-arrow-right"></span></p>
		</div> 
		</div>
		</div>
	</div>
</div>

