@font-face {
  font-family: main-navbarFont;
  src: local("Lucida Console");
}

.main-navbar-brand {
  margin-left: 15px;
}

.main-navbar-brand:hover {
  cursor: default;
  background-color: rgb(109, 188, 128);
}

@media (min-width: 768px) {

  .main-navbar-header, .main-navbar-brand, #nav-home {
    width: 180px;
    height: 90px;
    cursor: default;
  }

  .main-navbar-brand {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px !important;
    margin-right: 0px;
    font-size: 28px;
    margin-top: 18px;
    text-align: center;
    color: #ffffff;
    text-shadow: none;
  }

  .main-navbar .nav > li {
    width: 150px;
    height: 90px;
    line-height: 90px;
  }

  .user-nav-item, .user-nav-item > li {
    width: 180px !important;
  }
  .user-nav-item > li > ul {
    width: 190px;
  }

  .main-navbar {
    height: 90px;
  }

  .main-navbar-header:hover {
    background-color: rgb(109, 188, 128);
  }

  .main-navbar-brand:hover {
    background-color: inherit;
  }

}

.main-navbar > .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.main-navbar {
  z-index: 1;
  background-color: rgb(80, 46, 144);
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.main-navbar .nav > li {
  text-align: center;
  font-family: vitesse-sans-light;
}

.main-navbar .nav > li > a {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 1.25em;
  color: #ffffff;
  text-shadow: none;
  cursor: default;
}

.main-navbar .nav > li:hover {
  background-color: rgb(109, 188, 128);
  color: #ffffff;
}

.main-navbar .nav > li > a:hover, .main-navbar .nav > li > a:active, .main-navbar .nav > li > a:focus, .main-navbar .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: rgba(255, 255, 255, 0.0);
}

.main-navbar-dropdown, .main-navbar-dropdown > li {
  background-color: rgb(80, 46, 144);
  margin: 0px;
  padding: 0px;
  border: none;
}

.main-navbar-dropdown {
  background-color: rgba(255, 255, 255, 0.0);
}

.main-navbar-dropdown > li {
  height: 40px;
  line-height: 40px;
}

.main-navbar-dropdown > li > a {
  color: #FFF;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.main-navbar-dropdown > li:hover, .main-navbar-dropdown > li:focus, .main-navbar-dropdown > li:active {
  background-color: rgb(109, 188, 128);
}

.main-navbar-dropdown > li > a:hover, .main-navbar-dropdown > li > a:focus, .main-navbar-dropdown > li > a:active {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.0);
  color: #FFF;
}

/* the filter bar on the feedback page */
#filter-bar{
  background-color: rgba(26,26,26,.9);
  border-radius: 10px;
  z-index: 0.5;
}

.feedback-page-sort-dropdown:hover {
  background-color: #000;
}





